html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.dropdown {
    position: absolute;
    z-index: 100;
    background-color: $whileColor;
    min-width: 270px;
    max-width: 100%;
    list-style-type: none;
    padding: 10px 0;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);

    &--full {
        list-style-type: none;
        position: absolute;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
        left: 0;
        right: 0;
        background-color: $whileColor;
        top: 80px;
    }
}

.textRight {
    text-align: right;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: $primaryColor;
    transition: all 0.3s linear;
}

.btn:hover {
    color: $whileColor;
    background-color: $primaryColor;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.heading {
    &-sub {
        font-size: 33px;
        color: $primaryColor;
        margin-bottom: 20px;
        font-family: 'satisfy';
    }

    &-title {
        font-size: 65px;
        color: $headerColor;
    }

    &-desc {
        font-size: 17px;
        color: $headerColor;
        line-height: 28px;
    }
}
