.hero {
    &-item {
        width: 322px;
        height: 420px;
        margin: 0 10px;
    }

    &-image {
        overflow: hidden;
    }

    &-img {
        width: 100%;
        display: block;
        transition: transform linear 2s;
    }

    &-img:hover {
        transform: scale(1.1);
    }

    &-detail {
        width: 100%;
        height: 40px;
        background-color: $primaryColor;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 15px;
    }

    &-description {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
    }

    &-heading {
        font-size: 23px;
        color: $headerColor;
        font-weight: 600;
        transition: all 0.2s linear;
    }

    &-heading:hover {
        color: $primaryColor;
    }

    &-desc {
        font-size: 15px;
        color: #666;
        padding: 20px 0;
        max-width: 230px;
    }

    &-cost {
        font-size: 15px;
        display: flex;
        font-weight: 600;
        text-align: unset;
        gap: 20px;
    }
}

.dot {
    width: 10px;
    height: 10px;
    background-color: $primaryColor;
    opacity: 0.4;
    border-radius: 50%;
    display: flex;
}

.slick-active .dot {
    opacity: 1;
}

.slick-dots {
    position: absolute;
    left: 45%;
    gap: 5px;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style-type: none;
}

@include maxWidth(739px) {
    .hero {
        &-item {
            margin: 0;
        }

        &-desc {
            min-width: 100%;
        }
    }
}
